.presentacion{
    background-image: url("progrmacion.jpg");
    background-size: cover;
    
    
}
.presentacion h2,h3{
    font-size: 60px;
    margin-top: 20px;
}
footer{
    background-color: white;
    font-size: 1.5em;
    
}
footer span{
    color: yellowgreen;
}
body{
    background-color: #002d42;
}
h1{
    text-align: center;
    font-size: 5em;
    color: rgb(10, 177, 243);
    font-family:black;
}
#navegador a{
    color: greenyellow;
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
}
body h2{
    background-color: rebeccapurple;
    color: orange;
    text-align: center;
    font-weight: bold;
    
    
}

h3{
    text-align: center;
    margin-top: 70px;
    color: yellow ;
    font-weight: bold;
    
}
.conatainer ul{
    background-color: green;
}
.accordion-button{
    background-color: bisque;
    border: solid black;
}
.accordion-body{
    background-color: bisque;
    border: solid black;
}
@font-face {
    font-family: black;
    src: url(Playfair\ Display.woff);
    
}