.presentacion{
    background-image: url("progrmacion.jpg");
    background-size: cover;
    
    
}
.presentacion h2,h3{
    font-size: 60px;
    margin-top: 20px;
}
footer{
    background-color: white;
    font-size: 1.5em;
}
body{
    background-color: rgb(9, 9, 116);
}
h1{
    text-align: center;
    font-size: 5em;
    color: skyblue;
    font-family:black;
}
#navegador a{
    color: yellow;
}
body h2{
    background-color: rebeccapurple;
    color: orange;
    text-align: center;
    
    
}
h3{
    text-align: center;
    margin-top: 70px;
    color: red ;
}
.conatainer ul{
    background-color: green;
}
.accordion-button{
    background-color: bisque;
    border: solid black;
}
@font-face {
    font-family: black;
    src: url(blackadder-itc.woff);
}